# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
gradle
run-data
.gradle
CREDITS.txt
LICENSE.txt
gradlew
gradlew.bat
README.txt
settings.gradle
gradle.properties
.gitattributes

# other
eclipse
run



# Files from Forge MDK
forge*changelog.txt
